*{
    box-sizing: border-box;
    background: #FAF5F4;
    
}

body {
    font-family: 'Bodoni Moda', serif;
    font-family: brandon-grotesque, sans-serif;

}

.nav ul {
    display: flex;
    font-family: 'Bodoni Moda', serif;
    font-size: 28px;
    font-weight: 400;
}
.footer {
    background:#7A836E;
}
.footer span{
    display: inline-block;
}